<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies</title>
</head>
<body>
    <h1>{{ user.name }}'s Favorite Movies</h1>
    <ul>
        {% for movie_id, movie_data in movies.items() %}
            <li>{{ movie_data.title }} - <a href="/users/{{ user.id }}/update_movie/{{ movie_id }}">Edit</a> | <a href="#" class="delete-movie" data-user="{{ user.id }}" data-movie="{{ movie_id }}">Delete</a>
</li>
        {% endfor %}
    </ul>
    <a href="/users/{{ user.id }}/add_movie">Add Movie</a>
<script src="/static/main.js"></script>
</body>
</html>