<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <h1>{{ user.name }}'s Favorite Movies</h1>
        <p><a href="/" class="button is-secondary is-small">Main Page</a> <a href="/users" class="button is-secondary is-small">Users List</a></p>
        <p><a href="/users/{{ user.id }}/add_movie" class="button is-small">Add Movie</a></p>
    </header>
    <ul class="movies container">
        {% if movies %}
        {% for movie_id, movie_data in movies.items() %}
            <li class="movie"> <img class="movie-poster" src="{{ movie_data.poster_url }}" >
                <h3>{{ movie_data.title }}</h3>
                <p>Director: {{ movie_data.director }}</p>
                <p>Year: {{ movie_data.year }}</p>
                <p>Rating: {{ movie_data.rating }}</p>
                <p class="button-group"><a href="/users/{{ user.id }}/update_movie/{{ movie_id }}" class="button is-small">Edit</a> <a href="#" class="delete-movie button is-small" data-user="{{ user.id }}" data-movie="{{ movie_id }}">Delete</a></p>
</li>
        {% endfor %}
        {% else %}
    <p>No movies found for this user.</p>
{% endif %}
    </ul>
    <footer><a href="/users/{{ user.id }}/add_movie" class="button">Add Movie</a></footer>

    <!-- Modal HTML -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to delete this movie?</p>
    <div class="button-group is-modal">
      <button id="confirmDelete" class="delete-movie button is-small">Yes, Delete</button>
      <button id="cancelDelete" class="button is-small is-secondary">Cancel</button>
    </div>
  </div>
</div>

<script src="/static/main.js"></script>
</body>
</html>