<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Users</h1>
    </header>
    <main>
        <ul>
            {% for user_id, user_data in users.items() %}
                <li><a href="/users/{{ user_id }}">{{ user_data['name'] }}</a></li>
            {% endfor %}
        </ul>
    </main>
    <a href="/add_user">Add User</a>
</body>
</html>
